.navbar {
display: flex;
background-color: rgb(199, 203, 228);
align-items: center;
justify-content: space-between;
padding: 20px;
font-size: 18px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: brown;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 2em;
}



.sub-menu-1 {
    position: absolute;
    display: none;
    padding: 0.5em;
    right: 430px;
    background-color: whitesmoke;
    border-radius: 0.5em;
  
}
.sub-menu-2 {
    position: absolute;
    display: none;
    padding: 0.5em;
    right: 290px;
    background-color: whitesmoke;
    border-radius: 0.5em;
    
}
.sub-menu-3 {
    position: absolute;
    display: none;
    padding: 0.5em;
    right: 200px;
    background-color: whitesmoke;
    border-radius: 0.5em;
    
}

.menu-item:hover {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 0.05em;
    transition: 0.1s ease;
   }

   .menu-item:hover .sub-menu-1{
    display: block;
   }
   .menu-item:hover .sub-menu-2 {
    display: block;
   }
   .menu-item:hover .sub-menu-3 {
    display: block;
   }

   .menu-item-li {
    margin-bottom: 10px;
   }

.nav-bottom {
    background-color: rgb(102, 100, 100);
    width:auto;
    height: 250px;
    margin-top: 1000px;
    padding: 50px 150px;
}

.nav-bottom h1 {
    color: rgb(192, 189, 189);
}

.nav-bottom p {
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

address {
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
}

.quick-links .contact {
    display: inline-block;
}

.quick-links {
    margin-left: 450px;
    margin-top: -220px;

}

.quick-links-ul a {
    color: rgb(24, 24, 212);
    font-size: 20px;
    

}
.social-media {
    margin-left: -150px;
    font-size: 30px;
}

.fa {
    
    margin-left: 30px;
}

.fa:hover {
    opacity: 0.7;
    
}
.fa-facebook {
    background: #3B5998;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
  }
  
 
  .fa-skype {
    background: #00aff0;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;;
    border-radius: 0.5em;
  }

  .form-subscribe {
    margin-left: 950px;
    margin-top: -290px;
    
  }

  fieldset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    height: 25px;
    justify-content: space-between;
  }

  .form-subscribe p {
    
    font-size: 18px;
  }

  input {
    background-color: #92a9b1;
    border-radius:0.5em;
    height: 25px;
    width: 250px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
  }

  input:hover {
    background-color: aliceblue;
    color: orange;
  }


.button-1 {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  margin-left: 100px;
  width: 200px;
 padding: 0.5em 4em;
  color: white;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
    opacity: 0.6;
    color: #992669;
}

.image-1 {
    
    width: 1550px;
    padding: 0.5em;
    height: 600px;
    
}

.article-1 {
    
    width: 500px;
    padding: 0.2em;
    margin-left: 550px;
    height: 100px;
    margin-top: -600px;
    display: flex;
}
.article-2 {
    
    width: 1000px;
    padding: 0.2em;
    margin-left: 220px;
    display: flex;
    height: fit-content;
    gap: 1em;
    margin-top: 200px;
}
.container-1, .container-2, .container-3{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(192, 235, 238);
}

.offer-1 {
   border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(192, 235, 238);
    color: orangered;
    font-size: 25px;
    
}
.offer-1:hover {
    color: blue;
    background-color: aliceblue;
}

.images {
    height:200px;
    width:250px;
    margin-top: 5em;
    border-radius: 0.5em;
    border: 2px solid black;
    
}

.top-services {
    margin-top: 200px;
    margin-left: 100px;
}

.services-2 {
    margin-left: 500px;
    margin-top: -965px;
}

.services-3 {
    margin-left: 1000px;
    margin-top: -970px;
}

.top-services p {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0em;
}

.top-services h1 {
    
    text-decoration-line: underline;
    text-decoration-color: green;
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    
      
}
hr {
    height: 0.2em;
    color: green;
}
.image-2{
    width:1570px;
}
